/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
  background-color: lavender !important; }


.bottom-arrow {
  position:relative;
  background-color:#e15915;
  // height:320px !important;
  padding: 10px;
  border-radius: 5px;
  text-align: center;
}
.bottom-arrow:after,
.bottom-arrow:after {
  content:'';
    position: absolute;
    // top: 100%;
    // left: 50%;
    // margin-left: -50px;
    top: 98.1%;
    left: 70%;
    margin-left: -25%;
    width: 0;
    height: 0;
    border-top: solid 8px #e15915;
    border-left: solid 8px transparent;
    border-right: solid 8px transparent;

}

